.list-group.position-absolute {
  max-height: 250px;
  overflow-y: auto;
}
.navmobile{
  background-color:"white";
}


@media (max-width: 600px) {
  .nav-mobile {
    display: flex;
    flex-direction:row;
    gap:1.2em;
    justify-content:center;
    justify-items:bottom;
    align-items:center;
    /* border-bottom: 5px; */
    flex-wrap: wrap;
    
  }
   .nav-mobile  .nav-title {
    
    font-size:18px;
    
   }
}

